<div>
    <h1 class="h1-center">Productos del carrito : {{cart._id}} </h1>
</div>
<div class="listHome">
    <ul>
        {{#each cart.productos}}
            <li class="liHome" >
                 <h3>{{this.productoid.title}}</h3>
                <p>ID: {{this.productoid._id}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio: ${{this.productoid.price}}</p>
                <p>category: {{this.productoid.category}}</p>
                <img src="{{this.productoid.thumbnails}}" alt="{{this.producto.title}}">
            </li>
        {{/each}}
    </ul>
</div>

